html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;        /* remove scroll horizontal */
    /*overflow-y: auto;           permite scroll só quando necessário */
}
.menu-lateral a{
    color: white;
    display:flex;
    white-space: nowrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #0055a5;
    border-radius: 6px;
    padding: 20px 23px;
    margin: 26px;
    margin-top: 45px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.menu{
    display: block;
    height: 100vh;
    width: 13%;
    position: fixed;
    justify-content:center;
    align-items: center;
    top:56px;
    background: linear-gradient(135deg, #003366, #0055a5);
    z-index: 998;
    padding: 50px 0px;
    float: left;
    border: none;
}